body {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 auto;
    background-color: aqua;
}
.header__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style-type: none;
    
}
.header__link{
    text-decoration: none;
    color: black;
    font-size: 18px;
      
}